@using Microsoft.AspNet.Identity

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
    {
        @Html.AntiForgeryToken();
        <li class="active">
            <a class="nav-link" href="/Manage/Index">Hello @User.Identity.GetUserName()!</a>
        </li>
        <li class="active"><a href="/Home/Index">Home</a></li>
        <li class="active"><a href="/Stream/AllStreams">All Streams</a></li>
        <li class="active"><a href="/Vods/AllVods">All Vods</a></li>
        <li class="active"><a href="/Genres/All">Genres</a></li>
        if (this.User.IsInRole("Admin"))
        {
            <li class="active">
                <a class="nav-link" href="/Admin/GameRequests/Index">Game Requests</a>
            </li>
            <li class="active">
                <a class="nav-link" href="/Admin/StreamRequests/Index">Stream Requests</a>
            </li>
            <li class="active">
                <a class="nav-link" href="/Admin/VodRequests/Index">Vod Requests</a>
            </li>     
        }
        <li class="active">
            <a class="nav-link" href="/Vods/RequestVod">Request Vod</a>
        </li>
        <li class="active">
            <a class="nav-link" href="/Games/RequestGame">Request Game</a>
        </li>
        <li class="active">
            <a class="nav-link" href="/Stream/RequestStream">Request Stream</a>
        </li>
        <li class="active">
            <a class="nav-link" href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
        </li>


    }
}
else
{
    <li class="active"><a href="/Home/Index">Home</a></li>
    <li class="active"><a href="/Stream/AllStreams">All Streams</a></li>
    <li class="active"><a href="/Vods/AllVods">All Vods</a></li>
    <li class="active"><a href="/Genres/All">Genres</a></li>
    <li class="active">
        <a class="nav-link" href="/account/login">Login</a>
    </li>
    <li class="active">
        <a class="nav-link" href="/account/register">Register</a>
    </li>
}
